# Lists and Tuples

---

Lists in Python represent ordered sequences of values. In Python, square brackets `[]` indicate a list, and individual elements in the list are separated by commas:

In [1]:
# list of numbers
numbers = [1, 7, 34, 20, 12, 7]

# list of strings
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

# an empty list
empty_list = []

We can even make a list of lists:

In [2]:
hands = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], # (Comma after the last element is optional)
]
# (I could also have written this on one line, but it can get hard to read)
hands = [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

A list can contain a mix of different types of variables:

In [3]:
my_fav_things = [8, 'raindrops on roses', help]

It's a good practice to use plural nouns to label your list, such as *letters*, *digits*, or *names*. If you print a list in Python, the interpreter will return its representation of the list, including the square brackets.

## Indexing

You can access individual list elements with square brackets.

Which planet is closest to the sun? Python uses zero-based indexing, so the first element has index 0.

In [4]:
planets[0]

'Mercury'

What's the next closest planet?

In [5]:
planets[1]

'Venus'

Elements at the end of the list can be accessed with negative numbers, starting from -1:

In [6]:
planets[-1]

'Neptune'

In [7]:
planets[-2]

'Uranus'

### Slicing

What are the first three planets? We can answer this question using slicing:

In [8]:
planets[0:3]

['Mercury', 'Venus', 'Earth']

If I leave out the end index, it's assumed to be the length of the list, i.e. the expression above means "give me all the planets from index 3 onward".

In [9]:
planets[3:]

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

We can also use negative indices when slicing:

In [10]:
# All the planets except the first and last
planets[1:-1]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

In [11]:
# The last 3 planets
planets[-3:]

['Saturn', 'Uranus', 'Neptune']

We can also include a third parameter to specify the step size like below:

In [12]:
# prints range starting from first item, but skips every alternate item
planets[::2]

['Mercury', 'Earth', 'Jupiter', 'Uranus']

A neat trick to reverse the list backwards:

In [13]:
planets[::-1]

['Neptune', 'Uranus', 'Saturn', 'Jupiter', 'Mars', 'Earth', 'Venus', 'Mercury']

## Changing lists

Lists are "mutable", meaning they can be modified "in place".

For example, let's say we want to rename Mars:

In [14]:
planets[3] = 'Malacandra'
planets

['Mercury',
 'Venus',
 'Earth',
 'Malacandra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

Let's compensate by shortening the names of the first 3 planets.

In [15]:
planets[:3] = ['Mur', 'Vee', 'Ur']
print(planets)
# That's silly. Let's revert to their old names
planets[:4] = ['Mercury', 'Venus', 'Earth', 'Mars',]

['Mur', 'Vee', 'Ur', 'Malacandra', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

## List functions

Python has several useful functions for working with lists.

`len` gives the length of a list below:

In [16]:
# How many planets are there?
len(planets)

8

**Note:** we can also perform `len()` on a string to find its length

In [17]:
len("Hello World!")

12

`sorted` returns a sorted version of a list:

In [18]:
# The planets sorted in alphabetical order
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
sorted(planets)

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

`sum` does what you might expect:

In [19]:
primes = [2, 3, 5, 7]
sum(primes)

17

We've previously used the min and max to get the minimum or maximum of several arguments. But we can also pass in a single list argument.

In [20]:
max(primes)

7

List objects also have other useful methods which we can call:

In [21]:
# are any of these values true?
print(any([1,0,1,0,1]))

# are all of these values true?
print(all([1,0,1,0,1]))

True
False

## Interlude: objects

You may have even read that everything in Python is an object. What does that mean?

In short, objects carry some things around with them. You access that stuff using Python's dot syntax.

For example, numbers in Python carry around an associated variable called imag representing their imaginary part. (You'll probably never need to use this unless you're doing some very weird math.)

In [22]:
x = 12
# x is a real number, so its imaginary part is 0.
print(x.imag)
# Here's how to make a complex number, in case you've ever been curious:
c = 12 + 3j
print(c.imag)

0
3.0

The things an object carries around can also include functions. A function attached to an object is called a method. (Non-function things attached to an object, such as imag, are called attributes).

For example, numbers have a method called bit_length. Again, we access it using dot syntax:

In [23]:
x.bit_length

To actually call it, we add parentheses:

In [24]:
x.bit_length()

4

In the same way that we can pass functions to the help function (e.g. help(max)), we can also pass in methods:

In [25]:
help(x.bit_length)

Help on built-in function bit_length:

bit_length() method of builtins.int instance
    Number of bits necessary to represent self in binary.

    >>> bin(37)
    '0b100101'
    >>> (37).bit_length()
    6

## List methods

`list.append` modifies a list by adding an item to the end:

In [26]:
# Adds Pluto to list of planets at the end
planets.append('Pluto')

if we check the value of planets, we can see that the method call modified the value of planets:

In [27]:
planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto']

**Note:** `append` is a method carried around by all objects of type list, not just planets, so we also could have called `help(list.append)`. However, if we try to call `help(append)`, Python will complain that no variable exists called "append". The "append" name only exists within lists - it doesn't exist as a standalone name like builtin functions such as `max` or `len`

Instead of using `append()`, which works with only **one** new element, you can use the `extend()` method to append multiple values at the end of the list:

In [28]:
# append several values at once to the end
numbers.extend([56, 2, 12])
print(numbers)

[1, 7, 34, 20, 12, 7, 56, 2, 12]

`list.pop` removes and returns the last element of a list:

In [29]:
planets.pop()

'Pluto'

In [30]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

You can remove an item from the list if you know the value of the item using `remove()`:

In [31]:
planets.remove('Venus')
planets

['Mercury', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

You can add an element at any position in your list by using the `insert()` method:

In [32]:
# insert back Venus into the list at 2nd position
planets.insert(1, 'Venus')  
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

You can use the `sort()` method to sort a list:

In [33]:
# sort the list by alphabetical order; note the list has been modified
planets.sort()   
print(planets)

# sort the list by increasing order; list has been modified
numbers.sort() 
print(numbers)

# sort the list in reverse alphabetical order
planets.sort(reverse=True)
print('\n---Reverse order---')
print(planets)

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']
[1, 2, 7, 7, 12, 12, 20, 34, 56]

---Reverse order---
['Venus', 'Uranus', 'Saturn', 'Neptune', 'Mercury', 'Mars', 'Jupiter', 'Earth']

We can reverse the sort order of the list using `reverse()`:

In [34]:
# reserve such that planets are in reverse alphabetical order
planets.reverse()
print(planets)

# reverse so that numbers are in descending order
numbers.reverse()
print(numbers)

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']
[56, 34, 20, 12, 12, 7, 7, 2, 1]

Because lists are mutable, we can modify a list variable without assigning the variable a completely new value. If we assign the same list value to two variables, any in-place changes that we make while referring to the list by one variable name will also be reflected when we access the list through the other variable name:

In [35]:
animals = ['cat', 'dog', 'goldfish', 'canary']
pets = animals # now both variables refer to the same list object

animals.append('aardvark')
print(pets) # pets is still the same list as animals

animals = ['rat', 'gerbil', 'hamster'] # now we assign a new list value to animals
print(pets) # pets still refers to the old list

pets = animals[:] # assign a *copy* of animals to pets
animals.append('aardvark')
print(pets) # pets remains unchanged, because it refers to a copy, not the original list

['cat', 'dog', 'goldfish', 'canary', 'aardvark']
['cat', 'dog', 'goldfish', 'canary', 'aardvark']
['rat', 'gerbil', 'hamster']

### Searching lists

Where does Earth fall in the order of planets? We can get its index using the `list.index` method.

In [36]:
planets.index('Earth')

0

Remember in Python indexing starts from 0. Thus Earth comes third (i.e. at index 2 - 0 indexing!) in the list.

At what index does Pluto occur?

In [37]:
planets.index('Pluto')

ValueError: 'Pluto' is not in list

Right... remember we had already remove Pluto from the list earlier. To avoid such errors, we can use the `in` operator to determine if a list contains a particular value:

In [38]:
# Is Earth a planet?
"Earth" in planets

True

In [39]:
# Is Calbefraques a planet?
"Calbefraques" in planets

False

## Using arithmetic operators with lists

Some of the arithmetic operators we have used on numbers before can also be used on lists, but the effect may not always be what we expect:

In [40]:
# this concatenates two list rather than adding element-wise
list_a = [1, 2, 3] + [4, 5, 6]
print(list_a)


# we can concatenate a list with itself by multiplying it by an integer
list_b = [1, 2, 3] * 3
print(list_b)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [41]:
# not all arithmetic operators can be used on lists -- this will give us an error!
print([1, 2, 3] - [2, 3, 0])

TypeError: unsupported operand type(s) for -: 'list' and 'list'

## Lists vs arrays

Many other programming languages don’t have a built-in type which behaves like Python’s list. Here are some major differences between lists and arrays:

   + An array has a fixed size which you specify when you create it. If you need to add or remove elements, you have to make a new array.

   + If the language is statically typed, you also have to specify a single type for the values which you are going to put in the array when you create it.
   
   + In languages which have primitive types, arrays are usually not objects, so they don’t have any methods – they are just containers.

Arrays are less easy to use but they do have some advantages: because they are so simple, and there are so many restrictions on what you can do with them, the computer can handle them very efficiently, i.e. it is often much faster to use an array than to use an object which behaves like a list. A lot of programmers use them when it is important for their programs to be fast.

## Tuples

Tuples are almost exactly the same as lists. They differ in just two ways:

1. The syntax for creating them **uses parentheses instead of square brackets**

Python has another sequence type which is called `tuple`. Tuples are similar to lists in many ways, but they are **immutable**, that is a list of items that cannot change. We define a tuple literal by putting a comma-separated list of values inside round brackets `(` and `)`:

In [42]:
t = (1, 2, 3,) # Trailing comma is optional

t = 1, 2, 3    # this is equivalent to above
print(t)

(1, 2, 3)

2. They cannot be modified, i.e. **they are immutable.**

In [43]:
t[0] = 100

TypeError: 'tuple' object does not support item assignment

In [44]:
Tuples are often used for functions that have multiple return values.

For example, the as_integer_ratio() method of float objects returns a numerator and a denominator in the form of a tuple:

SyntaxError: invalid syntax (<ipython-input-44-8dcdfd3d9298>, line 1)

In [45]:
x = 0.125
x.as_integer_ratio()

(1, 8)

These multiple return values can be individually assigned as follows:

In [46]:
numerator, denominator = x.as_integer_ratio()
print(numerator / denominator)

0.125

A nice Python trick for swapping two variables!

In [47]:
a = 1
b = 0
a, b = b, a
print(a, b)

0 1

You can also use some of the useful methods (e.g. length, summing) used for lists earlier on tuples as well:

## Sets

Python also supports another type called `set`. A set is an **unordered** collection of unique elements. If we add multiple copies of the same element to a set, the duplicates will be eliminated, and we will be left with one of each element. To define a set literal, we put a comma-separated list of values inside curly brackets `{` and `}`:

In [48]:
animals = {'cat', 'dog', 'goldfish', 'canary', 'cat'}
print(animals) # the set will only contain one cat

{'cat', 'dog', 'canary', 'goldfish'}

We can perform various set operations on sets:

In [49]:
even_numbers = {2, 4, 6, 8, 10}
big_numbers = {6, 7, 8, 9, 10}

# subtraction: big numbers which are not even
print(big_numbers - even_numbers)

# union: numbers which are big or even
print(big_numbers | even_numbers)

# intersection: numbers which are big and even
print(big_numbers & even_numbers)

# numbers which are big or even but not both
print(big_numbers ^ even_numbers)

{9, 7}
{2, 4, 6, 7, 8, 9, 10}
{8, 10, 6}
{2, 4, 7, 9}

When we print a set, the order of the elements will be random. If we want to process the contents of a set in a particular order, we will first need to convert it to a list or tuple and sort it:

In [50]:
print(animals)
print(sorted(animals))   # sorted() on tuple returns a list object

{'cat', 'dog', 'canary', 'goldfish'}
['canary', 'cat', 'dog', 'goldfish']

How do we make an empty set? We have to use the `set` function. Dictionaries, which will be discuss in the lesson on [strings and dictionaries](https://github.com/colintwh/python-basics/blob/master/strings_dicts.ipynb), used curly brackets before sets adopted them, so an empty set of curly brackets is actually an empty dictionary:

In [51]:
# this is how we make an empty set
b = set()

# this is an empty dictionary
a = {}

## Converting between list, tuple, sets

We can convert between the different sequence types quite easily by using the type functions to cast sequences to the desired types – just like we would use `float` and `int` to convert numbers:

In [52]:
animals = ['cat', 'dog', 'goldfish', 'canary', 'cat']

animals_set = set(animals)
animals_unique_list = list(animals_set)
animals_unique_tuple = tuple(animals_unique_list)

print(animals_set)
print(animals_unique_list)
print(animals_unique_tuple)

{'cat', 'dog', 'canary', 'goldfish'}
['cat', 'dog', 'canary', 'goldfish']
('cat', 'dog', 'canary', 'goldfish')

## N-dimensional sequences

Most of the sequences we have seen so far have been one-dimensional: each sequence is a row of elements. What if we want to use a sequence to represent a two-dimensional data structure, which has both rows and columns? The easiest way to do this is to make a sequence in which each element is also a sequence. For example, we can create a list of lists:

In [53]:
my_table = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12],
]

The outer list has four elements, and each of these elements is a list with three elements (which are numbers). To access one of these numbers, we need to use two indices – one for the outer list, and one for the inner list:

In [54]:
print(my_table[0][0])

# lists are mutable, so we can do this
my_table[0][0] = 42

print(my_table[0][0])

1
42

We can also make a three-dimensional sequence by making a list of lists of lists:

In [55]:
my_3d_list = [
    [[1, 2], [3, 4]],
    [[5, 6], [7, 8]],
]

print(my_3d_list[0][0][0])

1

Next up, we will learn about [For and while Loops, and a much-loved Python feature: list comprehensions](https://github.com/colintwh/python-basics/blob/master/loops.ipynb).